
.footer-menue{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px 10px;

    ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}
.footer-logo img{
    width: 60px;
  
}
.sub-footer{
    padding: 20px;
}